
      *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
      }

      
      h2{
        color: brown;
      }

      form{
        padding: 20px;
        background-color: rgb(10, 66, 80);
        border:1px solid red;
        color:white;
        width:80%;
        margin:auto;
        margin-top:50px;
        margin-bottom:20px;
      }

      .txt{
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
      }

      .btn{
        padding: 10px;
        border: none;
        margin-top:10px;
        width: 100%; 
      }
      